@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/*text*/

h3{
    font-family: Karla;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.04px;
    text-align: center;
}

h6{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15000000596046448px;
    color: rgba(0, 0, 0, 0.87);
}

.regular{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}
.medium{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-align: center;
    color: rgba(33, 150, 243, 1);
}
a{
    font-family: Karla;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
a:visited {
    color: black;
}


::placeholder, select{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color:rgba(0, 0, 0, 0.6);
}

/*header*/
header{
    display: flex;
    flex-direction: column;
}

.header__logo{
    width: 42%;
    height: auto;
    align-self: center;
    margin: 2% 0;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 15%;
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.1);
}

.navigation__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    list-style: none;
}

/*main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15%;
}

/*filters*/

.filters{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.filters__name, .filters__select{
    width: 15rem;
    height: 3.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid 1px rgba(0, 0, 0, 0.38);
}

/*elements*/

.elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.elements__container{
    margin-top: 2rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}


.elements__image{
    object-fit: cover;
    height: 10.5rem;
    width: 15rem;
}

.elements__text{
    padding: 12px 16px;
}

/*button*/

button{
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    margin: 3rem 0;
    width: 154px;
    height: 36px;
    cursor: pointer;
    background: rgba(242, 249, 254, 1);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

button:hover{
    background: rgb(204, 234, 255);
}

button:active{
    background: rgb(249, 252, 255);
}

/*footer*/

footer{
    padding: 1.5rem;
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
}