@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/*text*/
h1{
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
    line-height: 56.25px;
    text-align: center;
}

h2{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: rgba(142, 142, 147, 1);
}

h3{
    font-family: Karla;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.04px;
}

h4{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;

}

h6{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15000000596046448px;
    color: rgba(0, 0, 0, 0.87);
}
.little{
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-align: left;
    color: rgba(142, 142, 147, 1);
    text-transform: uppercase;

}
.small{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    color: rgba(110, 121, 140, 1);
}

.regular{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}
.medium{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-align: center;
    color: rgba(33, 150, 243, 1);
}

.big{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.19px;
    text-align: center;

}

.bold{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}
a{
    font-family: Karla;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
a:visited {
    color: black;
}

/*
input::placeholder{
    background-image: url('../icons/search.svg');
    background-repeat: no-repeat;
    background-position: 0 center;
}
*/

::placeholder, select{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color:rgba(0, 0, 0, 0.6);
}

/*header*/
header{
    display: flex;
    flex-direction: column;
}

.header__logo{
    width: 42%;
    height: auto;
    align-self: center;
    margin: 2% 0;
}

/*nav*/

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 15%;
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.1);
}

.navigation__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    list-style: none;
}

/*main*/

main{
    display: flex;
    flex-direction: column;
    margin: 0 15%;
}

/*filters*/

.filters{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}


.filters__name-character, .filters__name-location, .filters__name-episode,  .filters__select{
    width: 15rem;
    height: 3.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid 1px rgba(0, 0, 0, 0.38);
}

.filters__name-character, .filters__select{
    width: 15rem;
}

.filters__name-location{
    width: 20.375rem;
}

.filters__name-episode{
    width: 31.25rem;
}



.filters__select{
    padding: 1rem;
}

/*characters*/

.characters{
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.characters__container:hover{
    background-color: rgba(203, 218, 213, 0.13);
    transform: scale(1.01);
}

.characters__container:active{
    background-color: rgba(196, 212, 207, 0.24);
    transform: scale(0.98);
}

.characters__container{
    margin-top: 2rem;
    width: 15rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}


.characters__image{
    object-fit: cover;
    height: 10.5rem;
    width: 15rem;

}

.characters__name {
    padding: 1rem 0 0 1rem;
}
.characters__species{
    padding: 0 0 1rem 1rem;
}
/*character*/
.character__head{
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character__image{
    width: 30%;
    border-radius: 50%;
    border: solid 5px rgba(242, 242, 247, 1);
}

.character__go-back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 108px;
    position: absolute; 
    left: 15%; 
    top: 102px;
    transform: translateY(-50%); 
}

.character__properties{
    display: flex;
    justify-content: center;
    margin: 4% 0;
}

.character__informations, .character__episodes{
    margin: 0 2%;
}

.character__informations h2, .character__episodes h2{
    margin-bottom: 5%;
}

.character__information, .character__episode{
    padding: 2% 3%;
    border-bottom: solid 1px rgba(33, 33, 33, 0.08);
    width: 25rem;
}


.character__episode:hover{
    background-color: rgba(0, 0, 0, 0.055);
}


.character__episode:active{
    background-color: rgba(0, 0, 0, 0.178);
}

/*locations*/

.locations, .episodes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.locations__container, .episodes__container{
    width: 240px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    background-color: rgba(250, 250, 250, 1);
}


.location__properties, .episodes__properties{
    display: flex;
}
/*button*/

button{
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    margin-top: 3rem;
    width: 154px;
    height: 36px;
    cursor: pointer;
    background: rgba(242, 249, 254, 1);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    align-self: center;
}

button:hover{
    background: rgb(204, 234, 255);
}

button:active{
    background: rgb(249, 252, 255);
}

/*location*/
.location, .episode{
    display: flex;
    flex-direction: column;
}
.location__about, .episode__about{
    padding: 1% 0;
}
.location__properties, .episode__properties{
    padding: 5% 0;
    display: flex;
    justify-content: space-evenly;
}





/*footer*/

footer{
    margin-top: 3rem;
    padding: 1.5rem;
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}